<!--
<h3>Authors</h3>
<app-author></app-author>

<hr>

<h3>Favorite</h3>
<app-favorite></app-favorite>

<hr>

<h3>Title Case Input</h3>
<app-title-case></app-title-case>

<hr>

<h3>Tweet</h3>
<app-like [isLiked]="tweet.isLiked" [likesCount]="tweet.likesCount"></app-like>

<hr>

<h3>Zippy Component</h3>
<app-zippy title="Shipping Details">Shipping Details Content</app-zippy>
<app-zippy title="Billing Details">Billing Details Content</app-zippy>

<hr>

<h3>Course Form</h3>
<app-course-form></app-course-form>

<hr>

<h3>Change Password Form</h3>
<app-change-password></app-change-password>


<h3>HTTP Service (Class)</h3>
<app-posts></app-posts>
-->

<h3>HTTP Service (Lesson)</h3>
<app-github-followers></app-github-followers>